# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# 仮想環境
env
venv
.venv
.poetry

# キャッシュ
.pytest_cache
.mypy_cache
.ruff_cache

# Git
.git
.gitignore

# IDE
.vscode
.idea

# ドキュメント
*.md
!README.md

# 環境変数（イメージに含めない）
.env

# Docker関連
.dockerignore
Dockerfile
docker-compose.yml
.devcontainer